@font-face {
    font-family: MyFont;
    src: url(./cherrybombone-regular.TTF);
}

body{ font-family:MyFont;
    background-color: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.logo img {
    width: 90px;
    margin-right: 15px;
}

.logo-text {
    flex: 10;
    font-size: 30px;

}

.header-bar {
    background-color: black;
    padding: 10px 30px;
    height: 150px;
    display: flex;
    align-items: center;
}

.header-bar a {
    color: #ffffff;
    text-decoration: none;
}

.logo {
    flex: 1;
}

.logo-text a {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar img {
    display: flex;
    align-items: center;

}

.navbar a {
    padding-top: 6%;

}

.navbar ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    z-index: 1;
}

.navbar ul li img {
    margin-bottom: 1%;
}

.navbar li:hover {
    transition: .10s;
}

/* ความห่างของ navbar*/

  .header-bar{
    padding-left: 3%;
    padding-right: 3%;
  }

  /* ขยายnavbar */
  .navbar li:hover {
    transform: scale(1.2);
  }

  /* bar เหลือง */

.happy-bar{
    height: 50px;
    background-color: #FFE606; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.happy-bar{ 
    padding-top: 0.4%;
    padding-left: 4%;
    padding-right: 4%;
    }

.happy-bar img{  
    width: 3%;
    }

 .happy-bar p{ 
    font-size: 25px;
    padding-left: 3%;
    padding-right: 3%;
    padding:10%;
    color: #ffffff;
    -webkit-text-stroke: 1px black;
    
}

/* welcome */

h1{ color: black;
    font-size: 80px;
    margin-left: 70px;
    margin-top: 10px;
    
}
.happy-img{ 
    display: flex;
    margin-left: 100px;
    margin-top: -50px;
}

.Vector{ 
    display: flex;
    margin-left: 160px;
    margin-top: 70px;
}

.Vector img { 
    width: 150px;
    padding: 3%;}

.info{ 
    display: flex;
    color: #ffffff;
    align-items: center;
    
}

.info img{ 
    margin-bottom: 1%;
    display: flex; }


.image img { 
    display: flex;
    width: 40px;
    margin-left: 400px
}

.images img{ 
    display: flex;
    width: 40px;
    margin-right: 400px;
}

.info img {
    width: 40px;
    display:flex;
    
}

.info h2{
    padding:1%;

}

.info {
    justify-content: center;
    align-items: center;
    padding-left: 2%;

}
.text{ 
    flex: 10;
    font-size: 20px;
    margin-left: 30px; }

/*pic*/
.pic {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    }
    
.pic img { width: 400px;
    padding: 2%;
}

.pic2 {
    display: flex;
    align-items: center;
    justify-content: center;

    }
    
.pic2 img { width: 400px;
    padding: 2%;
}

.pic3 {
    display: flex;
    align-items: center;
    justify-content: center;

    }
    
.pic3 img { width: 400px;
    padding: 2%;
}


.Vector {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10%;
}



.Vector img {
    width: 200 px;
}


 /*footer*/   
 
.footer-container{
    width: 100%;
}


.footer-icons ul {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.footer-icons li {
    margin: 30px;
}

.footer-icons i {
    font-size: 35px;
    color: rgb(255, 255, 255);
}

.footer-icons a:hover i {
    color: #F68BD8;
    transition: .5s;
}

.footer-icons p{
    margin-bottom: 1%;
    text-align: center;
    color: rgb(255, 255, 255);
}

.footer-icons a{
text-decoration: none;
color: #ff678d;
}

.footer-icons a:hover{
    transition: .5s;
    color: #FFE606;
    }
